<form action="/links" method="post">
  <label for="url">URL:</label>
  <input type="text" name="url">
  <label for="url">TITLE:</label>
  <input type="text" name="title">
  <label for="tags">TAGS:</label>
  <input type="text" name="tags">
  <input type="submit" value="Create link">
</form>
