<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Moocher</title>
  </head>
  <body>
    <nav>
      <a href="/">View Bookmarks</a>
      <a href="/links/new">Add Bookmark</a>
    <%= yield %>
  </body>
</html>
